/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Mar, 2021, 8:19:33 PM
    Author     : Disha
*/

/* CSS for Navbar Starts */

body {
    font-family: 'Poppins', sans-serif;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-toggler {
    outline: none;
}

.bg-black {
    background: #000;
}


ul {
    margin-left: auto;
}


/* CSS for Navbar Ends */

/*========= Slider CSS ===========*/

.carousel-caption{
    padding-top: 6%;
    padding-bottom: 6%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.carousel-item{
    height: 600px;
}

.carousel-image-1 {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.4)), url("Images/assign3.jpg");
    background-size: cover;
}

.carousel-image-2 {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.4)), url("Images/assign2.jpg"), no-repeat, center;
    background-size:cover;
}

.carousel-image-3 {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.4)), url("Images/assign6.jpg"), no-repeat, center;
    background-size: cover;
}

/*========= Button CSS ===========*/

.title-color{
    color: #fff;
}

.btn-color{
    background: #000;
    color: #cccccc;
}

.btn-color:hover{
    color: #fff;
}


/*========= Ripple Effect for Button CSS ===========*/

.slide-btn:hover, .slide-btn:focus, .slide-btn:active{
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes slide-btn{
    0%{
        transform: translateY(0px);
    }
    
    33%{
        transform: translateY(100px);
    }
    
    50%{
        transform: translateY(-60px);
    }
    
    65%{
        transform: translateY(-40px);
    }
    85%{
        transform: translateY(20Px);
    }
    100%{
        transofrm: translateY (0px);
    }
}

.slide-btn {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px);
    box-shadow: 0 0 1px rgba(0,0,0,0)
}

/*  CSS for Carousel Slider and Button Ends */



/*========= Product Section CSS ===========*/



.section-title {
    margin-bottom: 50px;
}

.products-section h1.title {
    color: red;
    font-size: 20px;
    text-align: center;
    max-width: 150px;
    margin: auto;
    background-color: #ffcccc;
    border-radius: 6px;
}

.products-section h2.subtitle {
    font-size: 25px;
    font-family:monospace;
    text-align: center;
}

.products-section{
   justify-content:center;
   max-width: 75%;
   margin: auto;
}

.products-section .products-item{
    box-shadow: 0 0 10px #dddde3;
}

.products-section .product-img{
    border-bottom: 1px solid #eeeeee;
    position: relative;
}


.products-section .product-img img{
    width: 100%;
    display: block;
}


.products-section .product-content{
    padding: 0 30px;
    text-align: center;
}

.products-section .product-content .product-price {
    margin: 15px 0 5px;
}

.products-section .product-content .product-price .new-price {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin: 0px 5px;
}

.products-section .product-content .product-name {
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    line-height: 26px;
    margin: 0;
    padding-bottom: 20px;
    
}

.products-section .btn-color{
    color: #ffcccc;
}

.products-section .product-img .overlay{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
}

.products-section .product-img .overlay .btn{
    margin: auto;
    transform: translateY(100px);
    transition: all 0.5s ease;
}

.products-section .products-item:hover .product-img .overlay{
    opacity: 1;
}

.products-section .products-item:hover .product-img .overlay .btn{
    transform: translateY(0px);
}

/*========= FAQ Section CSS ===========*/

.faq-section{   
max-width: 75%;
margin: auto;
margin-top: 80px;

}

.faq-section h1.title {
    color: red;
    font-size: 20px;
    text-align: center;
    max-width: 150px;
    margin: auto;
    background-color: #ffcccc;
    border-radius: 6px;
}

.faq-section h2.subtitle {
    font-size: 25px;
    font-family:monospace;
    text-align: center;
}

.faq-section .faq-item h4{
    font-size: 20px;
    font-weight: bold;
}

.faq-section .faq-item p{
    font-size: 15px;
    justify-content: space-around;    
}

.faq-section .faq-item{
    margin-bottom: 40px;
}

.faq-section .support-text{
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    line-height: 26px;
    text-align: center;
}

.faq-section .support-text a{
    text-decoration: none;
    color: red;
    
}


