<!-- Footer Section Starts -->

<footer class="page-footer bg-dark">
    <div class="bg-success">
        <div class="contaienr">
            <div class="row py-4 d-flex align-items-lg-center">
                <div class="col-md-12 text-center">
                    <a href="#"><i class="fa fa-facebook-official fa-2x text-white " aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x text-white" aria-hidden="true"></i></a><!-- comment -->
                    <a href="#"><i class="fa fa-google-plus fa-2x text-white" aria-hidden="true"></i></a>
                    <!-- comment -->
                    <a href="#"><i class="fa fa-linkedin fa-2x text-white" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-2x text-white" aria-hidden="true"></i></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row">


            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white">MENS</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">WATCHES</a></li>
                    <li class="my-2"><a href="#">SHIRTS</a></li><!-- comment -->
                    <li class="my-2"><a href="#">T-SHIRTS</a></li><!-- comment -->
                    <li class="my-2"><a href="#">JACKETS</a></li>
                    <li class="my-2"><a href="#">ACTIVEWEAR</a></li>
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white">KIDS</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">TEES & TOPS</a></li>
                    <li class="my-2"><a href="#">BOTTOMS & LEGGINGS</a></li><!-- comment -->
                    <li class="my-2"><a href="#">SHORTS & BERMUDAS</a></li><!-- comment -->
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white">Quick Links</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">About Us</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li><!-- comment -->
                    <li class="my-2"><a href="#">Contact Us</a></li><!-- comment -->
                    <li class="my-2"><a href="#">Help</a></li>
                    <li class="my-2"><a href="#">Careers</a></li>
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white">Contact US</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <ul class="list-unstyled">
                    <li class="my-2"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Bengaluru,KS 67213</li>
                    <li class="my-2"><i class="fa fa-print fa-2x" aria-hidden="true"></i> srivastavadeenan@gmail.com
                    </li><!-- comment -->
                    <li class="my-2"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>+91-9990030600</li>
                    <!-- comment -->
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        <p style="color: grey">&copy; Copyright <a href="#"
                style="text-decoration: none; color: whitesmoke">srivastavadeenan@gmail.com</a></p>
        <p style="color: white">Designed by Deena Nath Srivastava</p>
    </div>

</footer>

<!-- Footer Section Ends -->

<div class="themes">
    <div class="colors">
        <h1>Theme Colors</h1>
        <ul class="theme-colors">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <br>
        <h3>Logo Colors</h3>
        <ul class="logo-colors">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <p class="themes-btn"><i class="fa fa-cog fa-3x fa-spin" aria-hidden="true"></i></p>
</div>
<div class="alan-btn"></div>